html {
    width: 100%;
    height: 100%;
    z-index: 1;
}

model-viewer#coinAnimation {
    transform: translate(0px, 0%) scale(0);
    width: 50% !important;
    height: 50% !important;
    aspect-ratio: 1/1;
    padding: 16px;
    transition: all 1s, margin-left .8s ease-out;
}


model-viewer#coinAnimation .userInput {
    padding: 16px;
}

model-viewer::part(progress-bar) {
    display: none;
}
model-viewer::part(default-progress-bar) {
    display: none;
}

.svg-chroma{
    font: 800 64px/1.1 system-ui, sans-serif;
    filter: url(#chromatic);
}

body {
    background: black;
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 1s ease-out;
}

* {
    transition: all 1s;
}

div.monetText {
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0px);
    height: 100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}


div.monetText span#authorText {
    max-height: 144px;
    opacity: 0;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 20px;
    font-family: 'Tektur', serif;
    margin-right: -4px;
    color: wheat;
    font-weight: 600;
    left: 12%;
    position: relative;
    transition: all 1s, max-width .5s ease-in-out;
}


div.monetText span#authorText span {
    display: inline-block;
    transition: all .5s;
}


div.monetText.minified {
    transition: all 1s, height .65s;
    height: 144px;
    left: 0;
    transform: translate(0px, 0px);
}

div.monetText.minified > span#authorText {
    left: 0;
    margin-right: -24px;
}


div.monetText.minified > model-viewer#coinAnimation {
    padding-left: 0px;
    transition: all 1s, margin-left .8s ease-out;
    transform: scale(0.66) !important;
    width: 140px !important;
    height: 140px !important;
}

div.siteIntro {
    padding: 0px 48px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}


.none {
    display: none;
}

.drowned {
    z-index: -100;
    opacity: 0;
}


.PinnedContacts {
    position: absolute;
    height: 40px;
    width: 80px;
    right: 20px;
    top: 20px;
    padding: 5px 2px;
    display: flex;
    z-index: 22;
    opacity: 1;
    backdrop-filter: blur(16px) brightness(1);
    border-radius: 100px;
    transition: all .8s, z-index 0s;
}

.PinnedContacts.visible.topSite {
    top: 60px;
    right: 60px;
}

.PinnedContacts.visible {
    backdrop-filter: blur(16px) brightness(0.6);
}

.PinnedContacts img {
    aspect-ratio: 1/1;
    width: 40px;
    height: auto;
    object-fit: contain;
    opacity: 0.2;
    top: -100px;
    position: relative;
}


.PinnedContacts img.show {
    top: 0;
    cursor: pointer;
    opacity: 1;
    transition: all 2s;
}

.PinnedContacts img.show:hover {
    transform: rotateX(180deg) rotateY(360deg) rotateZ(180deg);
}